@{
  Layout = "_Layout";
}

@using System.Security.Claims

    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn" value="Log out" />
    }


<button class = "btn btn-primary">@Html.ActionLink("Home", "Index", "Home")</button>